
/* 
CodeClan JS Project Wk9
*/

/* FONT import font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&family=Orbitron:wght@400;700;900&display=swap');

:root{
  --text-30: hsl(197, 100%, 96%);
  --viewport-background: hsl(310, 86%, 3%);
  --ss-container-width: 74rem;
  --box-shadow-50: -2px 1px 4px 2px rgba(0,0,0,0.6), 
  -2px 4px 12px 6px rgba(0,0,0,0.1);

  --transition: all 0.2s ease-in-out;
}

*,
*::before,
*::after {
  margin: 0;
  padding:0;
}

/* @font-face {
  font-family: Anurati;
  src: url("fonts/Anurati-Regular.otf") format("opentype");
} */

html {
  font-size: 62.5%;
  box-sizing: border-box;
  background-color: var(--viewport-background);
  /* background-image: url('./images/stars.png'); */
  }

body {
  /* position: relative; */
  min-height: 98vh;
  width: 100%;
  font-family: 'Exo 2', sans-serif;
  display: grid;
  place-items: center;
  /* Grid Might cause problems with positiin absolute?? */
}

h1, 
h2,
h3 {
  font-family: Orbitron;
}

.solar-system-splash {
  width: var(--ss-container-width);
  height: var(--ss-container-width);
  /* overflow: hidden; */

  /* background-color: #002020; */

}



.sun,
.transit,
.orbit,
.orbit + div,
.orbit + div > div {
  /* position: absolute; */
  
}

/* .sun {

  --sun-diameter: calc( var(--ss-container-width) / 4 );
  --sun-diameter-third: calc( var(--sun-diameter) / 3 );
  --sun-diameter-doubled: calc( var(--sun-diameter) * 1.6 );

  height:  var(--sun-diameter);
  width:  var(--sun-diameter);
  background-color: #00d9ff;
  transform: translateX(50%) translateY(-50%);
  top: 50%;
  right: 50%;
  border-radius: 50%;
  box-shadow: 
              inset 0 0 2rem 0rem rgba(254, 255, 223, 1),
              inset -4rem 4rem 3rem 2rem rgba(255, 64, 0, 0.21),
              inset 0 0 var(--sun-diameter-third) var(--sun-diameter) rgb(255, 255, 255),
              -5rem -5rem var(--sun-diameter-third)  var(--sun-diameter-third) rgba(0, 0, 0, 0.2),
              0 0 3rem 0.2rem rgb(255, 176, 73),
              -10rem var(--sun-diameter-third) var(--sun-diameter-doubled)  var(--sun-diameter-third) rgba(80, 6, 239, 0.142),
              var(--sun-diameter-third) -10rem var(--sun-diameter-doubled)  var(--sun-diameter-third) rgba(254, 231, 105, 0.2)
              ;
} */

.solar-system {
  width: auto;
  min-height: 100%;
  position: relative;
  /* background-color: #100008; */
  /* border: 1px solid white; */
  /* transform: perspective(122rem); */
  /* perspective will need position relative on parent && position absolute on child!! */
}


.transit {
  
  --sun-diameter: calc( var(--ss-container-width) / 6 );
  --sun-diameter-third: calc( var(--sun-diameter) / 3 );
  --sun-diameter-doubled: calc( var(--sun-diameter) * 1.6 );
  
  position: absolute;
  height:  var(--sun-diameter);
  width:  var(--sun-diameter);
  top: 50%;
  right: 50%;
  transform: translateX(50%) translateY(-50%);
  border-radius: 50%;
  box-shadow: inset 2rem 0 2rem 0rem rgba(157, 255, 230, 0.828),
  inset -2rem 2rem 3rem 2rem rgba(255, 85, 0, 0.2),
  inset 0 0 var(--sun-diameter-third) var(--sun-diameter) rgba(2, 2, 2, 0.825),
  -3rem -2rem 1rem 3rem hsla(40, 100%, 50%, 0.922),
  0 0 1rem 0.3rem rgba(255, 219, 182, 0.921),
  0 0 3rem 0.2rem rgb(250, 218, 8),
  -12rem var(--sun-diameter-third) var(--sun-diameter-doubled)  var(--sun-diameter-third) rgba(129, 190, 250, 0.842),
  var(--sun-diameter-doubled) var(--sun-diameter-third) var(--sun-diameter-doubled)  var(--sun-diameter) rgba(239, 255, 136, 0.348),
  -30rem -6rem var(--sun-diameter-doubled)  var(--sun-diameter) rgba(57, 0, 0, 0.614),
  var(--sun-diameter-third) -12rem var(--sun-diameter-doubled)  var(--sun-diameter-third) rgba(86, 1, 109, 0.604)
  ;
  
}

.transit-heading {
  /* --sun-diameter-third: calc( var(--sun-diameter) / 3 ); */
  
  position: absolute;
  top: 0;
  bottom:0;
  left: 0;

  width: 100%;
  height: 90vh;
  /* transform: translateX(50%) translateY(-70%); */
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.113);
}

.transit-heading > h1 {
  font-size: 8rem;
  
  /* --offset: calc( var(--sun-diameter) * 4  ); */
  /* transform: translateX(var(--offset)); */
  /* transform: translateX(-6rem) translateY(2rem) rotateX(30deg); */
  color: rgb(196, 213, 238);
  /* color: var(--viewport-background); */
  text-shadow: 
              2px 2px 1px hsla(0, 0%, 0%, 0.682), 
              0 0 0 rgba(0, 0, 0, 0.532), 
              2px 2px 3px hsl(0, 0%, 100%);
  opacity: 0;
  animation-name: headingOne;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-delay: 11s;
  animation-fill-mode: forwards;
  opacity: 0;

}

@keyframes headingOne {
  0% {
    opacity: 0;
    transform: scale(0) rotateX(359deg);
    color: rgb(138, 0, 32);
  }
  
  80% {
    opacity: 1;
    transform: scale(1) rotateX(0deg);
  }
  
  90%  {
    opacity: 1;
    color: rgb(255, 255, 255);
  }
  
  100% {
    opacity: 1;
    transform: scale(1) rotateX(0deg) translateX(14rem) translateY(3rem);
    color: rgb(196, 213, 238);
  }
}

.transit-heading h2 {
  margin-top: 0rem;
  font-size: 5rem;
  text-align: center;
  letter-spacing: 0.3rem;
  animation-name: hello;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-delay: 14s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes hello {
  from {
    opacity: 0;
    transform: scale(1) translateZ(50%);
  }
  
  to {
    opacity: 1;
    transform: scale(1) translateX(1%);
  }
}

.transit-heading > p {
  text-align: center;
  animation-name: button;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-delay: 18s;
  animation-fill-mode: forwards;
  opacity: 0;
}


.transit-heading button {
  margin:1rem;
  padding: 0.6rem 2rem;
  background-color: #ff00e6;
  color: #fff;
  font-size: 2rem;
  border: none;
  border-radius: 0.6rem;

}



@keyframes button {
  from {
    opacity: 0;
  }
  
  to {
    opacity: 1;
  }
}

.transit-heading > h1 span {
  --spacer: calc( var(--ss-container-width) /  7);

  display: inline-block;
  width: var(--spacer);
  
}

.astro {
  position: absolute;
  top: 0;
  left: 0; 
  transform-origin: 50% 50%;
  transform: scale(4) translateX(20rem);
  animation-name: astro;
  animation-duration: 13s;
  animation-iteration-count: 1;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  opacity: 1;
}

.astro-img {
  max-width: 400px;
  height: 400px;
}

@keyframes astro  {
  0% {
    transform: scale(4) translateX(20rem);
    
  } 

  100% {
    transform: scale(0) translateX(40rem);
    
  }
}

/* IMAGES */

.planet-animation {
  animation: spin-right 36.5s linear infinite;
}

@keyframes spin-right {
  100% {
    transform: rotate(360deg);
  }
}

/* HELPERS */

.border-radius-50{
  border-radius: 50%;
}

.button__button {
  /* height: 2rem; */
  width: max-content;
  border: 0;
  padding: 0 1.4rem;
  line-height: 2;
  border: 1px solid transparent;
  border-radius: 0.6rem;
  box-shadow: var(--box-shadow-20);
  transition: var(--transition);
  color: #fff;
  font-size: 1.4rem;
  text-shadow: var(--text-shadow);
}

.button__button:hover{
  box-shadow: var(--box-shadow-50);
  color: #fff;
  border: 1px solid #000;
  transform: translateY(1px) scale(1.02);
  filter: hue-rotate(-30deg) brightness(1.2) contrast(1.2);
}

.button-slide::after {
  transition: var(--transition);
  content: 'OK, Deleting Universe';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #f40;
  border-radius: inherit;
  /* transform: translateX(-100%); */
  transform: rotateX(90deg);
  line-height: inherit;
}



.button-slide:hover::after{
  /* transform: translateX(0); */
  transform: rotateX(0deg);
}